@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --inter-font: "Inter", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  --background-color: #1c1c1c;
  --foreground-color: #262626;
  --foreground-light-color: #303030;
  --text-background-color: #fff;
  --text-muted-color: #6f6f6f;
  --text-light-color: #9e9e9e;
  --primary-color: #10ac84;
  --primary-light-color: #15bf95;
  --primary-dark-color: #0c9372;
  --border-color: #4e4e4e;
  --accent-color: #fbbc04;
  --accent-color-dark: #41331c;

  --navbar-height: 60px;
  --search-input-width: 800px;
  --sidebar-width: 300px;
}

.dark-mode {
  --background-color: #1c1c1c;
  --foreground-color: #262626;
  --foreground-light-color: #303030;
  --text-background-color: #fff;
  --text-muted-color: #6f6f6f;
  --text-light-color: #9e9e9e;
  --border-color: #4e4e4e;

  --coral-color: #77172e;
  --peach-color: #692b17;
  --sand-color: #7c4a03;
  --mint-color: #264d3b;
  --sage-color: #0c625d;
  --fog-color: #256377;
  --storm-color: #284255;
  --dusk-color: #472e5b;
  --blossom-color: #6c394f;
  --clay-color: #4b443a;
  --chalk-color: #232427;
}

.light-mode {
  --background-color: #fff;
  --foreground-color: #fff;
  --foreground-light-color: #f1f3f4;
  --text-background-color: #1c1c1c;
  --text-muted-color: #6f6f6f;
  --text-light-color: #626262;
  --border-color: #dcdcdc;

  --coral-color: #faafa8;
  --peach-color: #f39f76;
  --sand-color: #fff8b8;
  --mint-color: #e2f6d3;
  --sage-color: #b4ddd3;
  --fog-color: #d4e4ed;
  --storm-color: #aeccdc;
  --dusk-color: #d3bfdb;
  --blossom-color: #f6e2dd;
  --clay-color: #e9e3d4;
  --chalk-color: #efeff1;
}

@layer base {
  body {
    @apply bg-background font-montserrat text-text-background;
  }
}

@layer utilities {
  .input {
    @apply rounded-xl border border-border bg-foreground px-4 py-3 shadow-sm outline-none;
  }

  .masonry {
    column-gap: 1rem;
    column-count: 1;
  }
  .masonry-sm {
    column-count: 2;
  }
  .masonry-md {
    column-count: 3;
  }
  .masonry-lg {
    column-count: 4;
  }
}

.modalAnimation {
  animation: modalAnimation 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes modalAnimation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
